doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/vendors.css')
		link(rel='stylesheet', href='/css/style.css')
		block head
	body
		.nav-drawer
			button.nav-toggle Navigation
			nav
				ul.nav
					each v, k in nav
						li(style="display:block")
							a(href=v)=k
					if user
						li(style="display:block")
							a
								strong='@'+user.name
						li(style="display:block")
							a(href="/logout")="Logout"
					else
						li(style="display:block")
							a(href="/login")="Login"
		#page-overlay
		#page
			block content
	footer
		script(src='/js/vendors.js')
		script(src='/js/script.js')
		block footer