extends views/layout

block head
	style.
		.live-previewer {
			margin: 1em 0;
			padding: 3em;
			background: #111;
		}

block content
	.jumbotron
		h1#out ZombieHippie
		p#output the all media collection
	.container
		if article_styles
			style#article-styles(rel="stylesheet")!=article_styles
		.row.page-header
			h1=title
			.row
				span="Written by "
				em=author
		if tableOfContents
			.row
				.col-sm-3
					ol.nav
						each heading in tableOfContents
							-var linkTo = "#" + heading.replace(/ /g, '-')
							li
								a(href=linkTo)=heading
				.col-sm-9!=md
		else
			.row!=md
block footer
	if article_script
		script#article-script!="(function(){" + article_script + "}());"
	script.
		(function(){
			$("code.live").each(function(){
				var mode;
				var selector = (this.className.match(/\#[\w\d\-\_]+$/) || [false])[0]
				if (!selector) return;
				else selector = "#live-" + selector.slice(1);

				if (/^css\s/.test(this.className))
					mode = "css";
				else if (/^html\s/.test(this.className))
					mode = "html";
				else if (/^script\s/.test(this.className))
					mode = "javascript";
				else return console.log("Unknown live type");
				var code = this.innerText;
				switch (mode) {
				case "css":
					$(selector).append("<style>" + code + "</style>");
					break;
				case "html":
					$(selector).append("<div>" + code + "</div>");
					break;
				case "javascript":
					$(selector).append("<script>" + code + "<\/script>");
					break;
				default:
					break;
				}
				this.innerText = ""
				CodeMirror(this, {mode: mode, value: code})
				.on("change", function(cm) {
					var code = cm.getValue();
					switch (mode) {
					case "css":
						$(selector).children("style").html(code);
						break;
					case "html":
						$(selector).children("div").html(code);
						break;
					case "javascript":
						$(selector).children("script").remove();
						$(selector).append("<script>" + code + "<\/script>");
						break;
					default:
						break;
					}
				});
			});
		}())