extends views/layout

block content
	.jumbotron
		h1#out ZombieHippie
		p#output the all media collection
	.container
		for v in tiles
			.tile.col-lg-3.col-md-4.col-sm-6(id=v.slug)
				a.row(href="/article/"+v.slug)
					.row
						strong=v.title
					.row
						i="Written by "
						span=v.author
					.row
						span.date=(new Date(parseInt(v.date))).toString().replace(/(^.*?)\s\d+:.*$/,"$1")