extends views/layout

block head
	style.
		.extras>div:hover {
			cursor: pointer;
			text-decoration: underline;
		}
		.extras>div {
			color: white;
			border-bottom: 1px solid #222;
		}
		.extras {
			position: absolute;
			top: 0;
			right: 0;
			padding: .5em;
			border-radius: .5em;
			background: #111;
		}
		#upload { display:none }
		.hidden-editor {
			max-height: 0;
		}
	style#preview-style
block content
	.extras
		.toggle-editor Hide editor
		.upload-file Upload file
		ul.file-list
			each filename in articleFiles
				li=filename
		input#upload(type="file")
	.container
		h1 Write new post
		form(role="form",method="POST")
			.form-group
				.row
					.col-sm-8.col-xs-12
						textarea.form-control(rows="5",name="description",placeholder="description")=article.description
					.col-sm-4.col-xs-12
						input.form-control(name="title",type="text",placeholder="title",value=article.title)
						input.form-control(name="slug",type="text",placeholder="slug",value=article.slug)
						input(name="editing",type="hidden",value=article.slug)
						input.form-control(type="Submit",text="Submit")
				.row.unique-code
					.col-md-6.col-xs-12
						label Script
						textarea.form-control(name="article_script")=article.article_script
					.col-md-6.col-xs-12
						label Styles
						textarea.form-control(name="article_styles")=article.article_styles
				.row.markdown-editor
					textarea(name="md-content")=article.md
		#preview-md.row
block footer
	script.
		window.editor = CodeMirror.fromTextArea($("textarea[name=md-content]")[0], {
				styleSelectedText: true,
				showCursorWhenSelecting: true,
				styleActiveLine: true,
				theme: "xq-light",
				indentWithTabs: true,
				indentUnit: 4,
				lineWrapping: true,
				lineNumbers: true,
				// keyMap: "sublime",
				mode: "markdown"
			});
		
		var converter = new Showdown.converter(),
			slug = $("[name=slug]")[0].value,
			fileList = [],
			makePreview = function() {
				var html = converter.makeHtml(editor.getValue());
				$('#preview-md').html(html);
				$("#preview-style").html($("textarea[name=article_styles]").val());
			};
		$(".file-list").each(function (elem){
			fileList.push(elem.innerHTML);
		});
		editor.on("change", makePreview);
		$("textarea[name=article_styles]").on("input", makePreview);
		$(".toggle-editor").on("click", function() {
			$(".markdown-editor .CodeMirror").toggleClass("hidden-editor");
			$(".unique-code").toggleClass("hidden-editor");
		});
		$(".upload-file").on("click", function() {
			$("#upload").click();
		})
		$("#upload").on("change", function(event) {
			var fd = new FormData(),
				file = this.files[0],
				xhr = new XMLHttpRequest();
			fd.append("file", file);
			xhr.open("POST", "/upload?" + $.param({
				slug : slug,
				filename : file.name
			}));
			xhr.send(fd);
			fileList.push(file.name);
			$(".file-list").append("<li>" + file.name + "</li>");
		});
		makePreview();