if site_name
	meta(property='og:site_name', content=site_name)
if title
	meta(itemprop='name', content=title)
	meta(property='og:title', content=title)
if author
	meta(name='author', content=author)
if description
	meta(name='description', content=description)
	meta(property='og:description', content=description)
if page_type
	meta(property='og:type', content=page_type)
if keywords
	meta(name='keywords', content=keywords)